@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

:root {
  --font-mono: 'JetBrains Mono', Monaco, Consolas, monospace;
  --font-serif: Times, serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-mono text-sm antialiased;
  }
}

@layer components {
  .text-link {
    @apply text-foreground underline underline-offset-8 hover:decoration-2;
  }
  
  .bg-dot-grid {
    background-image: radial-gradient(circle, #E6E0CB 1px, transparent 1px);
    background-size: 16px 16px;
  }
  
  .bg-dot-grid-sm {
    background-image: radial-gradient(circle, #E6E0CB 1px, transparent 1px);
    background-size: 12px 12px;
  }
  
  .shadow-grid-fade {
    box-shadow: inset 0 0 100px rgba(238, 236, 228, 0.8);
  }
  
  .shadow-btn {
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  }
  
  .shadow-btn-active {
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 1);
  }
}
